<footer class="php-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-logo">SymForum</div>
                <p>Un lieu de discussion pour tous les amateurs de PHP. Partagez, apprenez et grandissez ensemble.</p>
            </div>
            <div class="col-md-3">
                <h5>Liens rapides</h5>
                <ul>
                    <li><a href="{{path('app_default')}}">Accueil</a></li>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Suivez-nous</h5>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <p>&copy; {{ "now"|date("Y") }} SymForum. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>