<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SymForum{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <!-- HEADER -->
    {% include 'header/_header.html.twig' %}
    <!-- BODY -->
    {% block body %}{% endblock %}
    <!-- FOOTER -->
    {% include 'footer/_footer.html.twig' %}
    <!-- JS -->
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- FONTWESOME -->
        <script src="https://kit.fontawesome.com/c6b7969b82.js" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>